* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

html, body {
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100vw;
    min-width: 300px;
    max-width: 1440px;

    height: auto;
    padding: 20px;

    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;

    position: relative;
    margin: 0 auto;
}


/* start header section */

header {
    width: 100%;
    height: auto;
    padding: 20px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100px;
    height: auto;
}

.score-box {
    width: 90px;
    height: 80px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

/* end header section */





/*start of main section */
main {
    margin-top: 150px;
    width: 100%;
    height: auto;
}

.action-btn {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}


#triangle {
    width: auto;
    height: auto;
}


#paper {
    position: absolute;
    top: -40px;
    left: 0px;

    background-image: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    padding: 20px;
    border-radius: 50%;

}

#paper img {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 50%;
}


/* end of maim section */